html{

	margin: 0;
	height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  min-height: 100vh;

}
.page{

	min-height: 100%;
}
.bg{

	background-color: #f5f5f5;
	font-family: 'Ubuntu', sans-serif;
}
.input{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 10px 0;
	border-radius: 10px;

}
.input:active{

	outline: none;
}
button:active {
	transform: scale(0.95);
	outline: none;
}

button:focus {
	outline: none;
}

.container-login{

	width: 400px;
	min-height: 450px;
	padding: 20px 30px;
	margin: auto;
}
.login-form{
	margin-bottom: 0;
}
ul{
	width: 100%;
}
.form{
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	padding:20px;

}
.navbar{
	background-color: #16a5f4;
	box-shadow: 3px 8px 6px -8px black;
	padding: 0;
}
.nav-link{

	color: #fff;
	text-transform: uppercase;
}
.nav-link:hover{

	color: #fff;
	background-color: none;
}
.buttonNext{

	width: 50px;
}
.display{
	display: none;
}
ul{
	text-decoration: none;
}
.profilePic{

	position: absolute;
	bottom: -60px;
	left: 120px;
	width: 150px;
	border-radius: 50%;
	z-index: 1;
	border:5px solid #fff;
}

.profilePicNav{
	width: 30px;
	vertical-align: middle;
	border-radius: 50%;
}
.profile-link{

	text-decoration: none;
	color: #000;
}
.profile-link:hover{

	text-decoration: none;
	color: #16a5f4;
}

.coverContainer{

	margin: auto;
	position: relative;
}

.center-fit{
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
  }
.head{
	position: absolute;
	bottom: 40px;
  	right: 36px;
  	color: #fff;
  	font-size: 5.5rem;
	text-shadow: 0 1px #000;

}
.headDate{

	position: absolute;
	bottom: 30px;
	right: 36px;
	line-height: 1.5px;
	color: #fff;
	text-shadow: 1px 1px #000;


}
.container-profile{

	margin: 10% 10% 5% 8%;
	height: 500px;
	width: 300px;
	padding-left: 30px;
	padding-right: 30px;
	border:1px solid #d6d6d6;
	padding-top: 10px;
	background-color: #fff;

}
.btn-profile{

	width:120px;
	height: 40px;
	border-radius: 30px;
	border:2px solid #16a5f4;
	background:none;
	color: #16a5f4;
}
.btn-profile:hover{

	background-color: #16a5f4;
	color: #fff;
	font-size: 1.5rem bold;
}
#login{
	margin-top: 20px;
}
footer{

	background-color: #16a5f4;
	color: #fff;
	height: 50px;

}

.container-footer-made{
	align-content: right;
	text-align: right;
}
.qa-post{

	margin: 2% 0%;
	padding: 0;

}
.hr-post{

	width: 90%;

}

.post{
	margin: 10px 0;
	padding:10px 15px;
	background-color: #fff;
	border:1px solid #d6d6d6;
	

}

.navbar-nav{
	margin-left: 10px;
}
.nav-profile{
	align-content: right;
	text-align: right;
	display: -ms-flexbox;
	  display: flex;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  padding-left: 0;
	  margin-bottom: 0;
	  list-style: none;
}
.ico{
	margin-right: 6px; 
}
.btn-react{

	background: none;
	border: none;
	background-color: none;
	margin: 10px 20px;

}
.btn-react:hover{

	background: none;
	color: #16a5f4;
	
}
.login-img{

	width: 50px;
	margin-top:3%;
	border-radius: 50%;

}
.brand{
	text-align: center;
}
.forget-div{
	background: #fff;
	text-align: center;
	margin top:5px;
	border: 1px solid #d6d6d6;
	padding: 10px;
	border-radius: 5px;
}
.basic-details{

	margin:8%; 

}
.badge{

	margin-bottom: 10px;
}
.login-h3{
	font-family:'Quicksand', sans-serif;
	font-size: 1.5rem;
}
.posted-name{
	font-size: 1.2rem;
}
.post-time{
	line-height: 2px;
	font-size: 0.7rem;
}
.post-profile{
	width: 40px;
}
.time-ico{

	width: 5px;
	margin-right: 10px;
}
.basic-details{

	background-color: #fff;
	border: 1px solid #d6d6d6;
	height: 500px ;
	width: 1000px;
	margin:auto;
	margin-top: 5%

}
.basic-details.detail{

	margin-top: 2%;
}
.profile-div{

	background-color: #fff;
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 1.2rem;
	font-family:'Quicksand', sans-serif;
	text-transform: uppercase;

}

.profile-pic{

	border-radius: 50%;
	width: 150px;

}
.profile-detail{

	background-color: #fff;
	width: 100%;
	padding: 10px 20px;
	text-transform: uppercase;
	margin-top: 30px;
}
.form-group{
	margin-top: 3%;
	padding: 10px 20px; 

}
.btn-ask {
	margin-top: 20px;
}
.btn-ask-qna{
	width: auto;
	text-align: center;
	justify-content: center;
}
.text-muted{
	font-style: italic;
	font-size: 0.9rem;
	padding: 10px;
}
.post-text{

	padding: 10px 20px ;
}
.profile-pic-ico{
	margin: 10px 5px 10px 20px;
	width: 40px;
	border-radius: 50%;
}
.col-text{
	margin-top:10px;
}
.qna-title{
	margin: 10px 30px;
	font-size: 1.8rem;
}
.reply{
	padding: 10px 20px;
	border: 1px solid #d6d6d6;

}
.qna-details{
	background-color: #fff;
	border: 1px solid #d6d6d6;
	height: auto ;
	width: 900px;
	margin:auto;
	margin-top: 5%;
}

.text-reply{
	font-size: 1.2rem;
	margin-left: 20px;
	margin-bottom: 20px;
}
.container-foot{

	text-align: center;
	margin: 30px 0;
}
.footer-link{

margin-left: 30px;
}
.footer-link:hover{

text-decoration: none;
}
.post-details{

	background-color: #fff;
	border: 1px solid #d6d6d6;
	height: 500px ;
	width: 900px;
	margin:auto;
	margin-top: 5%
}
.title{
	margin: 8px 0;
	font-weight: bold;

}
.data{

	margin: 8px 0;
}
.btn-change{
	width: auto;
	margin: 10px 20px;
}
.container-com{

	padding: 20px 50px;
	text-transform: uppercase;
}
.data.email{

	margin: 8px 0;
	text-transform: lowercase;
}
.container-edu{
	padding: 20px 50px;
	text-transform: uppercase;
}
.reg-detail{

	background-color: #fff;
	padding: 10px 20px;
}
.registration-details{

	background-color: #fff;
	border: 1px solid #d6d6d6;
	height: auto;
	width: 1000px;
	margin:auto;
	margin-top: 5%
}
.mar-10{
	margin: 10px;
}
.mar-20{
	margin: 20px;
}
.edu-container{

	padding: 20px 20px;
}

/*Admin Section CSS Only*/
.container-pane{
	margin: 5% 0;
}
.left-slide{
	background-color: #fff;
	border: 1px solid #d6d6d6;
	height: 750px;
	padding: 10px;
	margin-left: 10px;

}
.title-slide{
	font-size: 1.5rem;
}
.admin-item{
	list-style-type: none;
	text-decoration: none;
	margin: 15px;
	font-size: 1.2rem;	
	margin:20px 10px;
}
.admin-links{
	padding: 20px 40px;
}
.dropdown-container{
	position: relative;
}
.dropdown-menu{
	position: absolute;
}
.right-slide{
	padding: 10px;
	margin-left: 10px;
}
.con{
	background-color: #fff;
	border: 1px solid #d6d6d6;
	height: 300px;
	width: 300px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}
.box-lable{
	text-transform: uppercase;
	font-size: 1.2rem;
	font-family: 'Quicksand', sans-serif;
	margin: 30px 20px;
}
.box-count{
	text-align: center;
	font-size: 1.9rem;
	font-family: 'Quicksand', sans-serif;
}
.fa-arrow-up.ico{
	margin-left: 5px;
	color: #3dc461;
}
